:root {
--font-serif: cooper-black-std, serif;
--black: #000;
--white: #fff;
--gray-dark: #2e3438;
--blue-light: #0085ae;
--blue-dark: #00bffb;
}

html {
box-sizing: border-box;
}
*,
*:before,
*:after {
box-sizing: inherit;
}

body {
font-family: var(--font-serif);
color: var(--gray-dark);
line-height: 1.667;
}

a {
color: var(--blue-light);
text-decoration: none;
}

a.button_main-nav {
color: var(--gray-dark);
}

p.body {
    text-align: center;
}


img {
display: block;
}

img.logo {
    display: inline;
    margin: 0;
}

.component__name {
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: normal;
    color: black;
    padding: 0.25rem;
    margin-top: 3em;
    }

.component-page__section-heading {
    margin-top: 5em;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
    overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: var(--font-serif);
color: var(--gray-dark);
line-height: 1.2;
}

h1 {
font-size: 2.5rem;
}

h2 {
font-size: 1.333rem;
}
h3 {
font-size: .667rem;
}
h4 {
font-size: .333rem;
}

.heading {
    text-align: center;
}

li {
    font-size: 9px;
display: inline-block;
margin: 0 1.5em;
}

/***
* Utilities
*/

.container {
padding: 2rem;
}

/**
* design system component on the components.html page
**/


.component__code-headings {
text-align: center;
}

.component__code:before,
.component__img:before {
content: "CODE";
display: block;
padding: 0.25rem;
line-height: 1;
font-family: monospace;
position: absolute;
top: 0;
right: 0;
z-index: 1;
background: black;
color: white;
}
.component__img:before {
content: "IMG";
}

.component__img-logo {
max-width: 50%;
}